.SpotsDetail {
    z-index: -1;
    display: flex;
    margin-left: 70px;
    flex-direction: row;
    padding-top: 130px;
    position: sticky;

}

.SpotDetailImg {
    display: flex;
    flex-direction: row;
    position: static;
    width: 500px;
    height: 486px;
    border-radius: 20px ;
    border: #e0e0e0;
    padding-left: 5px;

}

.SpotBox {
    padding-top: 20px;
}

.SpotHeader {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: static;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 
}

.detailLocation  {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 495px;
    padding-left: 50px;

}

.SpotInformation {
    display: flex;
    flex-direction: row;
    width: 590px;
    height: 100px;
    justify-content: space-between;
    position: static;
    padding-top: 90px;
    padding-left: 40px;


}

.detailDescription {
    display: flex;
    flex-direction: row;
    position: sticky;
    width: 290px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;
    font-size: 16px;

}
.detailPrice{
    display: flex;
    flex-direction: row;
    position: sticky;
    color: rgb(72, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    font-size: 16px;
    font-weight: bold;
}

.Paw {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 115px;
    margin-bottom: 20px;
}

.line {
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    position: sticky;
    margin-left: 115px;
    width: 550px;
    height: 0.3px;

}


.reviewButton button {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-left: 115px;
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border-radius: 12px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    background: #ff5a60; 
    align-content: center;
}

.all-reviews-div {
    padding-top: 30px;
    margin-left: 115px;
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 500px;
    border-radius: 20px ;
    border: #e0e0e0;
    padding-bottom: 1;
}


.all-reviews-div h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(72, 72, 72);
    width: 600px;

}


.Reviews{
    display: flex;
    justify-content: center;
    z-index: -1;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(72, 72, 72);

}

