.host-form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.host-form-navbar {
  width: 85%;
}
 
.host-form-container {
  display: flex;
  margin: 2%;
  padding: 4%;
}

.host-form-right {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 0 1rem 2rem;
  align-items: flex-start;
}

.host-form-header {
  background: linear-gradient(to bottom right, #e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%);
  height: 26rem;
  width: 22rem;
  display: flex;
  padding: 0 4rem 8rem 4rem;
  align-items: center;
  color: white;
  font-size: 50px;
  border-radius: 40px;
}

.host-form-page-one {
  padding: 9rem 0 0 0;
  font-size: 28px;
  margin-bottom: 1rem;
  width: 30rem;
}

.host-form-get-started-button {    
  overflow: hidden;
  padding: 14px;
  align-items: center;
  display: flex;
  border: #000000 1px solid; 
  color: black;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s;
  border-radius: 12px;
  font-weight: 250;
  font-size: 18px;
  width: 24.5rem;  
}

.host-form-get-started-button-effects:after{
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
 box-sizing: border-box;
}

.host-form-get-started-button-effects:after {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #181818;
}

.host-form-get-started-button-effects:hover,
.host-form-get-started-button-effects:active {
  color: white;
  font-weight: 700;
}

.host-form-get-started-button-effects:hover:after,
.host-form-get-started-button-effects:active:after {
  width: 100%;
}

.fa-plus {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 200;
}

.host-form-not-user {
  display: flex;
  border-radius: 12px;
  padding: 15px;
  align-items: center;
  font-size: 20px;
  width: 25rem;
  font-weight: 250;
  background: none;
  border: #DDDDDD 1px solid;
  white-space: nowrap;
}

.host-form-demo-button-container {
  padding: 3rem 0 0 0;
  font-size: 20px;
  width: 30rem;
}

.host-form-label {
  font-size: 20px;
}

.demo-buttons {
  border-radius: 8px;
  background-color:#EBEBEB;
  color: rgb(104, 104, 104);
  font-weight: 500;
  border: none;
  font-size: 12px;
  padding: 5px 4px;
  margin-left: 2%;
}

.host-form-input-text {
  width: 25rem;
  font-size: 16px;
  height: 2rem;
  font-weight: 400;
  margin: 10px 0 15px 0;
}

.host-form-categories-container {
  display: grid;
  grid-template-columns: repeat(2, 14.5rem);
  margin-top: 10px;
}

.host-form-categories-input-radio input[type="radio"] {
  opacity: 0;
  width: 0;
  position: fixed;
}

.host-form-categories-input-radio label {
  display: inline-block;
  background-color: #ffff;
  text-align: center;
  padding: 14px 0 0 0;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 10px;
  width: 12rem;
  height: 2rem;
  margin: 4px 0;
}

.host-form-categories-input-radio input[type="radio"]:checked + label{
  background-color:#EBEBEB;
  border-color: #444;
}

.host-form-categories-input-radio input[type="radio"]:focus + label {
  border: 2px solid #444;
}

.host-form-categories-input-radio label:hover {
  background-color: #EBEBEB;
}

.next-back-form-buttons {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0
}

.host-form-page-three {
  padding: 3rem 0 0 0;
  font-size: 20px;
  width: 30rem;
  margin-bottom: 10px;
}

.host-form-page-three-pets-button button {
  border-radius: 50%;
  background: none;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  margin: 10px 10px;
}

.host-form-page-three-pets-button button:disabled {
  border: 1px solid #DDDDDD;
}

.host-form-demo-button-container-3 {
  padding: 10px 0 0 0;
  font-size: 20px;
  width: 30rem;
}

.host-form-input-text-address {
  width: 25rem;
  font-size: 16px;
  height: 2rem;
  font-weight: 400;
  margin: 0;
  border-radius: 0;
  border-bottom: none;
}

.host-form-input-text-address-top {
  width: 25rem;
  font-size: 16px;
  height: 2rem;
  font-weight: 400;
  margin: 30px 0 0 0;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
}

.host-form-input-text-address-bottom {
  width: 25rem;
  font-size: 16px;
  height: 2rem;
  font-weight: 400;
  margin: 0;
  border-radius: 0 0 30px 30px;
}

.back-button {
  font-size: 16px;
  background-color: white;
  border: none;
  padding: 0.8rem 1rem;
  text-decoration: underline;
}

.back-button:hover {
  border: none;
  border-radius: 10px;
  background-color: rgba(235, 234, 234, 0.515);
  padding: 0.8rem 1rem;

}

.next-button:disabled {
  padding: 0.8rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.next-button:enabled {
  padding: 0.8rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.host-form-input-textarea {
  width: 26rem;
  height: 17rem;
  border-radius: 10px;
  resize: none;
  margin: 1rem 0;
  font-size: 16px;
  font-weight: 250;
  padding: 1rem;
}

.not-visible {
  visibility: hidden;
}

.error-message {
  padding-top: 18.5rem;
  font-size: 0.7rem;
}

.error-message-li {
  font-size: 0.7rem;
}

.error-message-ul {
  margin: 0.3rem 0;
}

