.host-form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.host-form-navbar {
  width: 100%
}


.host-form-left {
  display: flex;
  margin: 2rem;
}

.host-form-right {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem 0;
}



.right-content-input {
  height: 23rem;
  box-sizing: border-box;
}

.host-form-header {
  background: linear-gradient(#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%);
  height: 30rem;
  width: 20rem;
  display: flex;
  padding: 0 4rem 8rem 4rem;
  align-items: center;
  color: white;
  font-size: 40px;
  border-radius: 40px;
}

.host-form-title,
.host-form-title-property {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.host-form-title,
.create-bathspot-label {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.create-bathspot-label {
  margin-bottom: 10rem;
}

.host-form-basics {
  display: flex;
}

.host-form-basics button {
  border-radius: 50%;
  background: none;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  margin: 0 10px;
}

.host-form-basics button:disabled {
  border: 1px solid #DDDDDD;
}

.host-form-title-property {
  margin-top: 30px;
}

.host-form-categories {
  display: grid;
  grid-template-columns: repeat(2, 13rem);
  padding-bottom: 54px;
}

.host-form-categories-div {
  display: grid;
  grid-template-columns: 15% 75%;
  padding: 10px 0;
}

.host-form-radio-buttono {
  height: 1rem;
  margin: 0;
  width: 1rem;
}

.host-form-create-button {
  font-size: 1rem;
  font-weight: 250;
  padding: 0.7rem 0.9rem 0.9rem;
  border-radius: 10px;
  background: none;
  margin-left: 1rem;
  width: 22rem;
  border: #DDDDDD 1px solid;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.host-form-no-session {
  font-size: 1.2rem;
  font-weight: 250;
  padding: 0.85rem 1.2rem 1rem;
  border-radius: 10px;
  background: none;
  margin-left: 1rem;
  width: 22rem;
  border: #DDDDDD 1px solid;
}

.white-space {
  padding: 3.5rem;
}

.fa-plus {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 200;
}

.host-form-create-button:hover {
  border: 1px solid black;
  background-color: rgba(178, 178, 178, 0.103);
}

.back-next-buttons {
  height: 5rem;
}

.back-next-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.create-input,
.multi-input,
.create-type-input {
  width: 26rem;
  font-size: 0.9rem;
  height: 2.2rem;
  font-weight: 250;
  margin: 5px 0;
}

.back-button {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border: none;
  background: none;
}

.back-button:hover {
  background-color: rgba(178, 178, 178, 0.103);
  border-radius: 10px;
}

.next-button:disabled {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
}

.next-button:enabled {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.create-input-textarea {
  width: 26rem;
  height: 17rem;
  border-radius: 10px;
  resize: none;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 250;
  padding: 1rem;
}

.not-visible {
  visibility: hidden;
}

.demo-buttons {
  border-radius: 10px;
  color: rgb(92, 92, 92);
  border: none;
  font-size: 0.8rem;
  padding: 0.4rem 0.5rem;
}

.host-form-right-title {
  display: flex;
}

.host-form-demo-button {
  margin-bottom: 0;
  margin-left: 1rem;
}

.error-message {
  padding-top: 18.5rem;
  font-size: 0.7rem;
}

.error-message-li {
  font-size: 0.7rem;
}

.error-message-ul {
  margin: 0.3rem 0;
}
