.edit-spot-page {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 200px; 
}

.return-to-listing-button {
  border: none;
  font-size: 16px;
  background-color: white;
  margin: 4% 0 2% 0;
  display: flex;
  width: 15%;
  padding: 1%;
}

.fa-arrow-left {
  padding-right: 10px;
}

.return-to-listing-button:hover {
  border: none;
  border-radius: 12px;
  background-color: rgba(235, 234, 234, 0.515);
}

.edit-spot-form {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  width: 90%;
}

.edit-spot-header {
  background: linear-gradient(to bottom right, #e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%);
  display: flex;
  padding: 20px;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  font-weight: 700;
}

.edit-spot-title {
  font-size: 22px
}

.edit-spot-label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-left: 20px;
  padding: 10px 0 1px 0;
}

.edit-pets-buttons button {
  border-radius: 50%;
  background: none;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  margin: 10px 10px 1px 20px;
}

.edit-pets-buttons button:disabled {
  border: 1px solid #DDDDDD;
}

.edit-spot-yard-children-pets {
  display: flex;
  flex-direction: row;
}

.edit-spot-categories-container {
  display: grid;
  grid-template-columns: repeat(5, 14.5rem);
  margin: 10px 0 0 20px;

}

.edit-spot-category-radio-button input[type="radio"] {
  opacity: 0;
  width: 0;
  position: fixed;
}

.edit-spot-category-radio-button label {
  display: inline-block;
  background-color: #ffff;
  text-align: center;
  padding: 14px 0 0 0;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 10px;
  width: 12rem;
  height: 2rem;
  margin: 4px 0;
}

.edit-spot-category-radio-button input[type="radio"]:checked + label{
  background-color:#EBEBEB;
  border-color: #444;
}

.edit-spot-category-radio-button input[type="radio"]:focus + label {
  border: 2px solid #444;
}

.edit-spot-category-radio-button label:hover {
  background-color: #EBEBEB;
}


.edit-listing-lat,
.edit-listing-lng {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.edit-spot-input {
  height: 10%;
  width: 30%;
  font-size: 1rem;
  font-weight: 250;
  color: rgb(94, 94, 94);
  margin-left: 20px;
}

.edit-listing-location {
  display: flex;
  flex-direction: row;
}

.edit-spot-input.city-state-country {
  width: 17rem;
  margin: 0 0.4rem 0.7rem 0
}

.edit-listing-coordinates {
  display: flex;
}



.update-listing-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  margin-top: 20px;
  width: 55rem;
}

.update-listing-button:disabled {
  background-image: none;
  background-color: rgba(128, 128, 128, 0.203);
  cursor: default;
}


.update-error {
  color: red
}
