.footer-main {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 20px 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #DDDDDD;
  color: rgb(34, 34, 34);
  z-index: 100;
}

.footer-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.fa-github,
.fa-linkedin,
.fa-airbnb {
  font-size: 25px;
}

.social-link {
  padding: 0 8px;
  font-weight: 500;
}

.social-link :hover {
  text-decoration: underline;
}