/* listing container */
.AllListings {
    z-index: -1;
    position: absolute;
    top: 12%;
    left: 10%;
    right: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 100px;
    background-color: white;
}

/* individual listing */
.PerListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
}

.PerListing img {
    max-width: 305px;
    max-height: 284px;
    border-radius: 20px;
    padding: 10px;
    object-fit: cover;

}

.ListingImage {
    width: 305px;
    height: 284px;
    border-radius: 20px;
    padding: 10px;
    object-fit: cover;
}

.ListingTitle {
    display: inline-flex;
    width: 100%;
    padding-bottom: 3px;
    flex-direction: row;
    justify-content: space-between;
    
}

.ListingLocation {
    color: #484848;
  font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 550;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.HomepagePawRating{
    font-size: 15 px;
    font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.ListingDescription {
    color: rgb(127, 127, 127);
    font-family: 'Montserrat', sans-serif;
    width: 210px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.HomepageListingPrice {
    color: #484848;
  font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}

.HomepageNightText {
    color: #484848;
  font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 300;

}

.AllListings a:link,
.AllListings a:visited,
.AllListings a:hover,
.AllListings a:active {
    text-decoration: none;
    color: black;
}