/* listing page container */
.ListingPage {
    z-index: -1;
    position: absolute;
    align-content: center;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

.ListingHeader {
    z-index: -1;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;

}

/* listing name */
.ListingHeader h2 {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    height: 20px;
    color: #222222;

}

/* paw icon */
.PawRating .fa-paw {
    display: inline-flex;
    padding-right: 10px;
    font-size: 15px;
    color: #222222;
}

/* listing's average rating */
.avg-rating {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-right: 8px;
    color: #222222;
}

/* paw rating container */
.PawRating {
    display: inline-flex;
    align-items: center;
    padding-right: 2px;
    font-weight: 700;
    font-size: 15px;
    color: #222222;
}

/* paw rating container */
.PerListingLocation {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #222222;
}

/* largest preview image */
.MainImage {
    object-fit: cover;
    width: 560px;
    height: 517px;
    border-radius: 20px 0px 00px 20px;
}

/* full service pet care by sitter container */
.ListHost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

/* full service pet care by sitter header */
.ListHost h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
}

/* listing price */
.ListingPrice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 16%) 0px 6px 16px;
    border-radius: 20px;
    padding: 25px;
    width: 20%;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
}

/* listing price night text */
.Text-Night {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    padding-left: 5px;
}

/* first line */
.Line {
    border-bottom: 1px solid rgb(221, 221, 221);;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 25px;
}

/* listing details */
.DetailDescription {
    width: 70%;
    margin: 30px 0px 30px 0px;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}

/* second line */
.Line2 {
    border-bottom: 1px solid rgb(221, 221, 221);;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
}

/* review container */
.ReviewContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* listed review container */
.ListingReviews {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 40%;
    height: auto;
    padding: 20px 100px 20px 10px;
}

/* each user review */
.ReviewUser {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 20px;
    color: #222222;

}

/* user paw ratings */
.ReviewPaws {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 18px;
    color: #222222;

}

/* user review message */
.ReviewText{
    font-family:'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222222;
    
}

/* create reivew button */
.CreateReviewButton {
    display: flex;   
    flex-direction: column;
    justify-content: center; 
    border-radius: 12px;
    background-size: 200% auto;
    width: 20%;
    height: 50px;
    padding: 0 16px;
    border: 0;
    transition: 0.5s;
    margin: 5px;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right,rgb(215, 4, 102) 0%, rgb(227, 28, 95) 51%, rgb(230, 30, 77) 100%);
}

.CreateReviewButton:hover {
    background-position: right center;  
} 

/* create reivew button */
.CreateReviewText {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
