.main-navbar {
  height: 5rem;
}

.navbar-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: .75rem .75rem 1rem;
  width: 100%;
}

.navbar-home-link {
  display: flex;
  color: rgb(255, 56, 92);
  font-weight: bold;
}

.petbnb-name {
  align-items: center;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-top: 5px;
}
