.profile-button-container {
  position: relative
}

.profile-button {
  background-color: white;
  border: 1px #71717150 solid;
  border-radius: 20px;
  margin-top: 8px;
}

.profile-picture {
  display: flex;
  align-items: center;
  padding: 0.1rem 0 0.1rem 0.2rem;
  color: #6e6e6e;
}

.user-profile-icon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.profile-button:hover {
  box-shadow: rgba(129, 129, 129, 0.492) 0px 4px 3px -2.5px;
  transform: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  position: absolute;
  top: 1rem;
  left: -8.4rem;
  width: 220px;
  box-shadow: rgba(100, 100, 111, 0.158) 0px 2px 22px 0px;
  border-radius: 20px;
  background: white;
  z-index: 2;
}

.login-option {
  font-weight: 600;
}

.logout-container,
.user-account,
.link,
.login-option,
.signup-option {
  font-size: 0.9rem;
  padding: 15px 60px 15px 20px;
}

.logout-container, .signup-option {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user-account, .login-option {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.user-account {
  border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
}

.logout-container:hover,
.link:hover,
.login-option:hover,
.signup-option:hover {
  background-color: #7171710e;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black
}

.trips,
.host-home {
  border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
}

.manage-listings,
.host-home,
.logout-container {
  font-weight: 220;
}

.trips {
  font-weight: 600;
}
