.searchbar-form {
  display: grid;
  grid-template-columns: 30% 24% 24% 15% 5%;
  border: 1px solid #DDDDDD;
  border-radius: 32px;
  padding: 8px;
  height: 55px;
  box-sizing: border-box;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 8px;
  position: relative;
}

.searchbar-inner-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 0.1rem;
}

.searchbar-input,
.searchbar-input-date,
.searchbar-input-who {
  height: 20px;
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0%;
}

.searchbar-dropdown {
  position: absolute;
  top: 60px;
  left: -20px;
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  z-index: 10;
  box-shadow: rgba(129, 129, 129, 0.492) 0px 4px 3px -2.5px;
  transform: none;
  border: 1px #71717112 solid;
}

.searchbar-dropdown-header {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 25px;
}

.searchbar-result-container {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  width: 180px;
  cursor: pointer;
}

.searchbar-result-container:hover {
  background-color: rgba(197, 197, 197, 0.13);
}

.searchbar-results {
  padding-left: 10px
}

.searchbar-result-header {
  font-size: 12px;
  font-weight: 300;
}

.searchbar-result-date {
  font-size: 0.75rem;
  font-weight: 250;
  color: rgb(89, 89, 89);
}

.searchbar-droppin-icon {
  background-color: rgba(230, 230, 230, 0.633);
  padding: 8px 10px;
  border-radius: 20%;
}

.searchbar-input-date {
  font-size: 12px;
}

.searchbar-pets-outer {
  font-size: 12px;
  display: flex;
}

.searchbar-pets-minus,
.searchbar-pets-plus {
  background: none;
  border-radius: 50%;
  border: 1px solid rgb(76, 76, 76);
  text-align: center;
  width: 17px;
  height: 17px;
  font-size: 0.7rem;
  padding: 0 0 1px;
  font-weight: 600;
}

.searchbar-pets-minus {
  margin-right: 6px;
}

.searchbar-pets-plus {
  margin-left: 6px;
}

.searchbar-pets-outer button:disabled {
  border: 1px solid rgba(128, 128, 128, 0.303);
}

.searchbar-button {
  border: none;
  background: none;
  background-color: #FF385C;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  height: 35px;
  width: 35px;
}

.searchbar-button:hover {
  background-color: #E00B41;
}
.searchbar-magnifying-glass {
  width: 18px;
}
