h1 {
    z-index: 1;
    position: fixed;
    margin: 175px 0px 175px 0px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.ReviewHeader{
    z-index: 1;
    position: fixed;
    margin: 275px 0px 0px 0px;
    height: 40px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #dce0e0;
    background-color: #EDEFED;
}

.MyReviews {
  font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-top: 5px;
    padding: 10px;
}

.AllReviews {
    z-index: 1;
    position: fixed;
    margin: 300px 0 275px 0px;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    overflow-y: auto;
    border: 1px solid #dce0e0
}

.EachReview {
    padding: 15px;
}



.ReviewFormButton {
    padding: 0 16px;
    width: 528px;
    height: 48px;
    border-radius: 12px;
    border: 0;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right,rgb(215, 4, 102) 0%, rgb(227, 28, 95) 51%, rgb(230, 30, 77) 100%);
}



.ReviewFormButton:hover {
  background-position: right center;  
}


