.userSpotPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-top: 100px;
    position: absolute;
    padding-left: 90px;
    z-index: -1;
}

.userSpotPage h2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-content: center;
    margin-top: 70px;
    width: 300px;
}

.spotDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 90px;
  
}

