.MyListingContainer {
    margin: 100px 20% 100px 20%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.AllMyListing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.MyListings {
    border-bottom: 1px solid  rgb(221, 221, 221);
    display: flex;;
    width: 100%;
    height: fit-content;
    padding: 25px;
}

.MyIndividualListing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 284px;
    margin-bottom: 15px;
}

.MyListingTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.MyListingDetials {
    display: flex;
    flex-direction: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 15px;
    width: 100%;
    height: auto;
}

.UserListingImg {
    border: 1px solid  rgb(221, 221, 221);
    border-radius: 12px;
    width: 300px;
    height: auto;
    object-fit: cover;
}

.DeleteButton {
    cursor: pointer;
    display: inline-flex;   
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
    width: fit-content;
    height: auto;
    border: 1px solid rgb(221, 221, 221);
    margin: 5px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
}


.DeleteButton:hover {
    background-color: #e0e0e0;
}

