

.DeleteButton {
    display: flex;
    position: static;
    width: 100px;
    height: 55px;
    border-radius: 12px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    background: #ff5a60; 
    align-items: center;
}


