form {
    padding: 0px 16px;
    margin: 18px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(17, 17, 17, 0.955);
  }

.SpotsDetail {
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 20px;
    margin: 100px 80px 10px 80px;
}

.SpotHeader {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}


.SpotDetailImg {
    display: flex;
    justify-content: flex-start;
    position:static;
    align-items: center;
    width: 400px;
    height: 384px;
    border-radius: 20px;
    object-fit: cover;
}

.detailLocation {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.detailDescription {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.detailPrice {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}


.SpotsReview {
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 20px;
    margin: 100px 80px 10px 80px;

}



.review {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.userInputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    padding: 6px 8px;
    width: 510px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid rgb(145, 144, 144);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(145, 144, 144);
   
  }
  