.NavBar {
    position: sticky;
    display: flex;
    margin: 10px 15px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #717171;

}

.navButtonRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 45px;
    width: 85px;
    border-radius: 30px;
    border: 1px solid #717171ba;
}

.fa-user-circle {
    color: #7b7b7b;
    padding: 1px;
    font-size: 30px;
}

.fa-bars {
    color: #7b7b7b;
    padding-left: 6px;
    font-size: 20px;
}

.menuLink:hover {
    background-color: rgba(219, 219, 219, 0.337);
    border-radius: 30px;
}

.userRightMenu {
    border-bottom: 1px solid #717171;
}

.logoSite {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    width: fit-content;
}

img {
    object-fit: cover;
    max-height: 65px;
    max-width: 65px;
}

.logoLeft > a, a:hover, a:visited, a:active {
    text-decoration: none;
}

.navRight {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.menuLink,
.menuLink:active,
.menuLink:visited {
    text-decoration: none;
    color: #525659ec;
}


.PetbnbText {
    display: flex;
    align-items: center;
    color: #FF5A5F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
}



.hostButton {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 550;
    color: #3e4346;
    padding: 10px;
}

.DropDownMenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 180px;
    border-radius: 12px;
    right: 0;
    top: -108px;
    padding: 28px;
    box-shadow: 2px 2px 13px rgba(163, 163, 163, 0.298);
    border: 0;
    width: 210px;
    background-color: white;
}

.navMenuRight {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 525;
    font-size: 15px;
    color: #3e4346;
    width: 100%;
    padding: 10px;
}

.logoutbutton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 525;
    font-size: 15px;
    color: #3e4346;
    padding: 15px 0px;

}


